<section>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-10">
        <mat-card class = "p-5">
          <div class="row">
            <div class="col-md-6">
              <mat-card class="text-center">
                <div class="profileImage"></div>
                <h3 class="mt-5">Hester Strumpfer</h3>
                <div class="social-icons">
                  <img
                    src="../../assets/HomeAssets/awesome-facebook-square.svg"
                    alt="facebook-square"
                    class="p-2"
                  />
                  <img
                    src="../../assets/HomeAssets/awesome-instagram.svg"
                    alt="instragram-square"
                    class="p-2"
                  />
                </div>
              </mat-card>
            </div>
            <div class="col-md-6">
              <h1 class = "title">Vision</h1>
              <p>
                My vision is to create art from my soul. I need to reflect my deep passion for art in every piece I create. I put much thought in my work. I design and create costumes for my models. I hand pick models and I have a fondness for Rasta people and people with curly hair. My art is a form of therapy for myself and by working through my own trauma, I hope to speak to my audience and bring hope to them as well as some of the models I use.  My art is 100% original, as I style and art direct my compositions myself.  I take my own photos for reference, but often use professional photographers where I feel my skills are lacking.
              </p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h1 class="title">About</h1>
              <p>Since my childhood days, I have had an immense passion for the arts. I was always drawn to portraiture and did my first drawing at age 14.  In my mid-twenties, I endeavoured to take part in a small solo, titled “Children of the World”, and drew children of different ethnic groups in a variety of mediums.
                A career in the sciences was brought to a halt by chronic fatigue. Only after undergoing severe trauma in my late 40's, did I once more pick up my art skills and enrol in further training in both painting and drawing. I also completed a three year course in Art Counselling, passing with a Cum Laude in 2018. I continue to hone the craft and passion that is art.  I draw with an equal passion for charcoal and pastels and I paint primarily with oils, but also wine and ink.
                </p>
            </div>
          </div>
          <div class="row justify-content-start mt-5">
            <div class="col-md-8">
              <h4 class="title">Qualifications</h4>
              <ul>
                <li>BSc.-degree</li>
                <li>HDE</li>
                <li>Italian International Diploma Dressmaking Design cum laude</li>
                <li>BRAIN Gym® Consultant </li>
                <li>Certificate Bio-energy Medicine</li>
                <li>Kinesiology IV Certificate</li>
                <li>Certificate Art Counselling, cum laude</li>
              </ul>
            </div>
          </div>
        </mat-card>
      </div>
    </div>


  </div>
</section>
