*{
  color: #FF988D;
}
nav{
  position: relative !important;
  width: 100%;
  z-index: 999;
}
.nav{
  // background: transparent;
}
.navbar-nav{
  float: right;
  // position: absolute;
  right: 30px;
}
button{
  color:black
}
